@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap');
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Mukta', sans-serif;
}

p {
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

.rdgr3tp-wht {
    color: #fff;
}

.rdgr3tp-ctr-t {
    text-align: center;
}

a {
    text-decoration: none;
}

.rdgr3tp-wrp {
    max-width: 1150px;
    margin: auto;
    padding: 10px;
}

.rdgr3tp-top {
    background-color: #000;
    border-bottom: 5px solid green;
}

.mnu-lnk li {
    display: inline-block;
}

.mnu-lnk a {
    color: #fff;
    font-size: 20px;
    margin: 0px 10px;
}

.rdgr3tp-p {
    gap: 25px;
}

.rdgr3tp-logo h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    margin: 0px;
}

/*resp-img*/

.rdgr3tp-rsp {
    width: 100%;
    height: auto;
}

.rdgr3tp-frst-resp {
    max-width: 600px;
}

.rdgr3tp-sec {
    max-width: 500px;
}

.rdgr3tp-thrdgr3tp-rsp {
    max-width: 350px
}

.rdgr3tp-rsp-ic {
    max-width: 50px
}

.rdgr3tp-frth-im {
    max-width: 200px;
}

.rdgr3tp-sith-im {
    max-width: 800px;
}

.rdgr3tp-eght-im {
    max-width: 400px;
    border-radius: 20px;
}

.rdgr3tp-nthn-im {
    max-width: 350px;
    border: 4px solid #126695
}

.rdgr3tp-mnth-im {
    max-width: 400px;
}

.rdgr3tp-lg {
    max-width: 200px;
}

.rdgr3tp-mnth-strimgm {
    max-width: 700px;
    width: 100%;
    height: auto;
    border: 10px double #126695;
}

.rpsdimg {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.rdgr3tp-bxshd {
    box-shadow: 10px 10px #126695
}

.mtn-hdr {
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 25px 0px;
    background-color: #126695;
    color: #fff
}

.mtn-hdr p {
    font-size: 16px !important;
}

.rdgr3tp-ctp {
    background: transparent;
    padding: 8px 25px;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid #fff;
    letter-spacing: 5px;
    color: #fff;
    transition: 0.7s;
}

.rdgr3tp-ctp:hover {
    color: #569b17;
    border: 4px solid #569b17;
}

.rpg-abrsp {
    max-width: 1000px;
    width: 100%;
    height: auto;
}

.rpg-img h2 {
    max-width: 750px;
    margin: auto;
    border-bottom: 5px double #126695;
    padding: 5px;
    margin-bottom: 40px;
}

.rpg-abhdimg {
    max-width: 450px;
    width: 100%;
    height: auto;
}

.rdgr3tp-ctp2 {
    background: transparent;
    padding: 8px 25px;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid #126695;
    letter-spacing: 5px;
    color: #126695;
}

.rdgr3tp-psithsd {
    background-color: #efefef;
    padding: 30px 0px;
}

.rdgr3tp-secdimg {
    max-width: 500px;
    width: 100%;
    height: auto;
}

.tgi2 {
    background-color: #efefef;
    padding: 10px;
    color: #fff;
    border: 8px double #55b50b;
}

.rdgr3tp-sithpg {
    background-color: #126695;
    padding-bottom: 50px;
}

/*section*/

.rdgr3tp-frst,
.rdgr3tp-secd-fet {
    padding: 40px 0px;
}

.rdgr3tp-frst-odr {
    color: #fff;
    background-color: #34A31E;
    font-size: 30px;
    padding: 2px 30px;
    border-radius: 10px;
    font-weight: 600;
}

.rdgr3tp-frst-s {
    background-color: #ff0000;
    color: #fff;
    padding: 3px;
}

.rdgr3tp-frst-hd {
    font-size: 35px;
    margin-bottom: 0px;
    line-height: 1.2;
}

.rdgr3tp-secd-fet {
    background-color: #570f10;
}

.rdgr3tp-secd-box {
    background: #126695;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.rdgr3tp-thrdgr3tp-h {
    font-size: 30px;
}

.rdgr3tp-feat {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.rdgr3tp-thrdgr3tp-fst {
    padding: 10px;
}

.rdgr3tp-thrdgr3tp-be {
    background-color: #570f10;
    padding: 25px 0px;
}

.rdgr3tp-thrd {
    margin-bottom: 40px;
}

.rdgr3tp-frth-cont {
    padding: 20px;
}

.rdgr3tp-frth-img {
    padding: 10px;
    border-radius: 10px;
}

.rdgr3tp-sith-he {
    font-size: 35px;
    color: #fff;
    transition: 0.9s;
    border-radius: 10px;
    max-width: 950px;
    margin: auto;
}

.rdgr3tp-sith {
    background-image: url(../img/bgks.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0px;
}

.rdgr3tp-svnth li {
    font-size: 20px;
    list-style-type: disclosure-closed;
}

.rdgr3tp-eght {
    padding: 20px 0px;
}

.ed-cust-box {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.rdgr3tp-nthn {
    padding: 30px 0px;
}

.rdgr3tp-mnth-b {
    background-color: #FBF4F4;
    padding: 20px 0px;
}

.rdgr3tp-ftr {
    background-color: #126695;
    padding: 20px 0px;
}

.nr-ftr-dtr a {
    color: #fff;
}

.panel {
    min-height: calc(100vh - 150px)
}

.itgfr {
    padding: 10px;
    margin: 20px;
    transition: 0.9s
}

.itgfr img:hover {
    filter: brightness(70%);
}

.rdgr3tp-svnth-prs {
    background-color: #f6c4c4;
}

.rdgr3tp-nthn-pr img:hover {
    filter: brightness(70%);
}

.rdgr3tp-off {
    background-color: #126695;
    color: #fff;
    font-size: 40px;
    text-align: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rdgr3tp-secd-box img:hover {
    filter: brightness(70%);
}

.mtct {
    border-radius: 100%
}

.ed-cust-box img {
    box-shadow: 10px 10px #2d831f;
    margin-bottom: 20px;
}

@media only screen and (min-width:768px) {
    .rdgr3tp-fx {
        display: flex;
    }
    .rdgr3tp-jus1 {
        justify-content: space-between;
    }
    .rdgr3tp-jus2 {
        justify-content: space-around;
    }
    .rdgr3tp-al-ctr {
        align-items: center;
    }
    .rdgr3tp-frst-img {
        width: 50%
    }
    .rdgr3tp-frst-cont {
        width: 50%
    }
    .rdgr3tp-secd-box,
    .rdgr3tp-thrdgr3tp-fst {
        width: 50%;
    }
    .rdgr3tp-nthn-pr {
        width: 33%
    }
    .rdgr3tp-frth-img {
        width: 30%;
    }
    .rdgr3tp-frth-cont {
        width: 70%;
    }
    .rdgr3tp-secd-bx {
        width: 50%;
    }
    .rpg-abhd {
        width: 40%
    }
    .rpg-allc {
        width: 60%;
    }
    .img-ffft {
        width: 40%;
    }
    .rdgr3tp-mnth-str {
        width: 60%;
    }
    .ed-cust-box img {
        width: 50%
    }
    .rdgr3tp-bfcsd {
        width: 50%;
    }
}

@media only screen and (max-width:768px) {
    .rdgr3tp-frth-img {
        padding: 10px;
    }
    .rdgr3tp-fx2 {
        display: flex;
    }
    .rdgr3tp-jus12 {
        justify-content: space-between;
    }
    .rdgr3tp-al-ctr2 {
        align-items: center;
    }
    .rdgr3tp-sith-he {
        font-size: 22px;
    }
    .rdgr3tp-ct {
        text-align: center;
    }
    .mnu-lnk {
        display: none;
    }
    .rdgr3tp-frst-hd {
        font-size: 25px
    }
    .mtct {
        text-align: center
    }
    .rdgr3tp-off {
        margin: auto;
    }
}

/*form*/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/*cta css*/

.glowing-btn {
    position: relative;
    color: #fff;
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid #fff;
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1em;
    -webkit-box-shadow: inset 0px 0px 0.5em 0px #fff, 0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px #fff, 0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px #fff, 0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em #fff;
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em #fff;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em #fff;
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: #fff;
    pointer-events: none;
}

.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: #fff;
    box-shadow: 0 0 2em 0.2em #fff;
    transition: opacity 100ms linear;
}

.glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}

.glowing-btn:hover .glowing-txt {
    animation: none;
}

.glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.glowing-btn:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 0.1;
    }
    4% {
        opacity: 0.5;
    }
    19% {
        opacity: 0.5;
    }
    21% {
        opacity: 0.1;
    }
    23% {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
    83% {
        opacity: 0.4;
    }
    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 1;
    }
    8% {
        opacity: 0.1;
    }
    9% {
        opacity: 1;
    }
    12% {
        opacity: 0.1;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0.3;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 0.7;
    }
    72% {
        opacity: 0.2;
    }
    77% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 1;
    }
    4% {
        opacity: 0.1;
    }
    8% {
        opacity: 1;
    }
    70% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .glowing-btn {
        font-size: 1em;
    }
}